<!DOCTYPE html>
<html>
<head>
<title>About | Ruby On Rails Tutorial Sample App</title>
<body>
<h1>About</h1>
<p>
The <a href="https://www.railstutorial.org/"><em>Ruby On Rails Tutorial</em></a>, parto of the <a href="https://www.learnenough.com/">Learn Enough</a> family of tutorials, is a 
<br>
<a href="https://www.railstutorial.org/book">Book</a> and
<br>
<a href="https://www.creencasts.railstutorial.org/">screencast series</a> to teach web development with <a href="https://rubyonrails.org/">Ruby On Rails</a>.
<br>
This is the sample app for the tutorial
</p>
</body>
</html>