<h1>Help</h1>
<p>Get hel on the Ruby On Rails Tutorial at the
<a href="https://www.railstutorial.org/help">Rails Turorial Help Page</a>
To get help on this sample app, see the<a href="https://www.railstutorial.org/book"><em>Ruby On Rails Turorial</em>Book</a></p>